@import "../fonts/stylesheet.css";
@import "../styles/normilize.css";

.back {
  width: 70px;
  &-inner {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    img {
      display: block;
      margin-right: 0.5rem;
    }
  }
}
.bought {
  font-size: 1rem;
  font-weight: 700;

  span {
    margin-left: 0.5rem;
    font-size: 12px;
    line-height: 11px;
    font-weight: 400;
    color: rgba(141, 142, 144, 0.6);
  }
}
.comparing {
  .card {
    &-slider {
      display: flex;
      overflow-y: hidden;
    }
    width: 115px;
    &:not(:last-child) {
      margin-right: 25px;
    }
    margin-bottom: 13px;
    &-img {
      width: 115px;
      padding: 8px 25px;
      border-radius: 5px;
      margin-bottom: 5px;
      position: relative;
      img {
        height: 67px;
      }
    }
    &-delete {
      position: absolute;
      top: 5px;
      right: 10px;
    }
    &-price {
      font-weight: bold;
      font-size: 12px;
      line-height: 11px;
      margin-bottom: 5px;
    }
    &-name {
      font-weight: 300;
      font-size: 10px;
      line-height: 10px;
      margin-bottom: 10px;
    }
    .btn {
      font-weight: normal;
      font-size: 12px;
      line-height: 11px;
      padding: 5px 10px 4px;
      &-wrapper {
        width: 83px;
      }
      &-sm {
        width: 24px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
    }
  }
  .content {
    &-title {
      margin-bottom: 10px;
    }
    &-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding: 4px 0;
      span {
        font-weight: normal;
        font-size: 11px;
        line-height: 11px;
        margin-right: 5px;
      }

      .info {
        &-wrapper {
          position: relative;
        }
        position: absolute;
        top: 3px;
        left: 27px;
        width: 150px;
        background: #636667;
        min-height: 84px;
        font-weight: normal;
        font-size: 9px;
        line-height: 9px;
        padding: 16px 3px;
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: 15px solid #636667;
          border-right: 15px solid transparent;
          top: 0;
          left: -14px;
          transform: rotate(-270deg);
        }
        img {
          width: 7px;
          position: absolute;
          top: 5px;
          right: 5px;
        }
      }
    }
    &-compare {
      padding: 4px 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      &_info {
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
      }
      .blue {
        color: #5181b8;
      }
    }
  }
}
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  img {
    display: block;
    margin-bottom: 40px;
  }
  &-warpper {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    width: 100%;
  }
  &-bottom {
    width: 100%;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    text-align: center;
  }
}
.registration {
  &.login {
    padding-top: 150px;
  }
  padding-top: 40px;
  .logo {
    margin: 0 auto 20px;
  }
  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 40px;
    text-align: center;
  }
  .form {
    .form-control {
      margin-bottom: 10px;
      label {
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
        margin-bottom: 5px;
        display: block;
        position: relative;
        width: fit-content;
        &::after {
          content: "*";
          position: absolute;
          top: 0;
          right: -7px;
          color: #ef2525;
        }
      }
      input {
        font-size: 14px;
        line-height: 13px;
        padding: 9px 10px 8px;
      }
    }
    .noafter {
      label::after {
        display: none;
      }
    }
    .submit {
      max-width: 260px;
      width: 100%;
      margin: 30px auto 20px;
      display: block;
      padding: 7px 10px 8px;
      font-size: 16px;
      line-height: 15px;
      font-weight: normal;
    }
    .checkbox {
      padding-bottom: 70px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      &-container {
        border-width: 2px;
        width: 20px;
        height: 18px;
        border-radius: 5px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          display: block;
          &.active {
            display: none;
          }
        }
      }
      &-content {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        a {
          color: #5181b8;
        }
      }
    }
  }
}
