@import "../fonts/stylesheet.css";
@import "../styles/normilize.css";
input,
button,
select,
textarea {
  font-family: "Gotham Pro", sans-serif;
}
input::placeholder,
textarea::placeholder {
  font-family: "Gotham Pro", sans-serif;
}
// Client
.back {
  width: 70px;
  &-inner {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    img {
      display: block;
      margin-right: 0.5rem;
    }
  }
}
.bought {
  font-size: 1rem;
  font-weight: 700;

  span {
    margin-left: 0.5rem;
    font-size: 12px;
    line-height: 11px;
    font-weight: 400;
    color: rgba(141, 142, 144, 0.6);
  }
}
.comparing {
  .card {
    &-slider {
      display: flex;
      overflow-y: hidden;
    }
    width: 115px;
    &:not(:last-child) {
      margin-right: 25px;
    }
    margin-bottom: 13px;
    &-img {
      width: 115px;
      padding: 8px 25px;
      border-radius: 5px;
      margin-bottom: 5px;
      position: relative;
      img {
        height: 67px;
      }
    }
    &-delete {
      position: absolute;
      top: 5px;
      right: 10px;
      width: 8px;
      height: 8px !important;
      display: block;
    }
    &-price {
      font-weight: bold;
      font-size: 12px;
      line-height: 11px;
      margin-bottom: 5px;
    }
    &-name {
      font-weight: 300;
      font-size: 10px;
      line-height: 10px;
      margin-bottom: 10px;
    }
    .btn {
      font-weight: normal;
      font-size: 12px;
      line-height: 11px;
      padding: 5px 10px 4px;
      &-wrapper {
        width: 83px;
      }
      &-sm {
        width: 24px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
    }
  }
  .content {
    &-title {
      margin-bottom: 10px;
    }
    &-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding: 4px 0;
      span {
        font-weight: normal;
        font-size: 11px;
        line-height: 11px;
        margin-right: 5px;
      }

      .info {
        &-wrapper {
          position: relative;
        }
        position: absolute;
        top: 3px;
        left: 27px;
        width: 150px;
        background: #636667;
        min-height: 84px;
        font-weight: normal;
        font-size: 9px;
        line-height: 9px;
        padding: 16px 3px;
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: 15px solid #636667;
          border-right: 15px solid transparent;
          top: 0;
          left: -14px;
          transform: rotate(-270deg);
        }
        img {
          width: 7px;
          position: absolute;
          top: 5px;
          right: 5px;
        }
      }
    }
    &-compare {
      padding: 4px 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      &_info {
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
      }
      .blue {
        color: #5181b8 !important;
        background: transparent;
      }
    }
  }
}
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  img {
    display: block;
    margin-bottom: 40px;
  }
  &-warpper {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    width: 100%;
  }
  &-bottom {
    width: 100%;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    text-align: center;
  }
}
.registration {
  &.login {
    padding-top: 150px;
  }
  padding-top: 40px;
  .logo {
    margin: 0 auto 20px;
  }
  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 40px;
    text-align: center;
  }
  .form {
    .form-control {
      margin-bottom: 10px;
      label {
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
        margin-bottom: 5px;
        display: block;
        position: relative;
        width: fit-content;
        &::after {
          content: "*";
          position: absolute;
          top: 0;
          right: -7px;
          color: #ef2525;
        }
      }
      input {
        font-size: 14px;
        line-height: 13px;
        padding: 9px 10px 8px;
      }
    }
    .noafter {
      label::after {
        display: none;
      }
    }
    .submit {
      max-width: 260px;
      width: 100%;
      margin: 30px auto 20px;
      display: block;
      padding: 7px 10px 8px;
      font-size: 16px;
      line-height: 15px;
      font-weight: normal;
    }
    .checkbox {
      padding-bottom: 70px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      &-container {
        border-width: 2px;
        width: 20px;
        height: 18px;
        border-radius: 5px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          display: block;
          &.active {
            display: none;
          }
        }
      }
      &-content {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        a {
          color: #5181b8;
        }
      }
    }
  }
}
.sort {
  position: fixed;
  z-index: 60;
  left: 0;
  width: 100%;
  transition: all 0.5s ease;
  bottom: -100%;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0px 0px;
  padding-top: 20px;
  &.sort-active {
    bottom: 0;
  }
  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    padding: 0 20px 10px;
  }
  .form-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
  }
  .form-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* When the checkbox is checked, add a blue background */
  .form-control input:checked ~ .checkmark {
    background-color: #5181b8;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .form-control input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .form-control .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 51;
  background: rgba(0, 0, 0, 0.5);
}
.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 55;
  overflow-y: scroll;
  bottom: 0;
  padding: 0 10px;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 21px;
    margin-bottom: 10px;
  }
  &-reset {
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    color: #ef2525;
    cursor: pointer;
  }
  &-close {
    cursor: pointer;
    img {
      display: block;
      width: 15px;
      height: 15px;
    }
  }
  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-right: 1.8rem;
  }
  &-body {
    margin-bottom: 40px;
    .menu {
      &-list {
        padding: 10px 0;
      }
      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          font-weight: normal;
          font-size: 16px;
        }
        img {
          transition: 0.3s;
        }
        &.active {
          img {
            transform: rotate(180deg);
          }
        }
      }
    }
    .child {
      transition: all 0.3s ease-in-out;
      overflow: hidden;
      max-height: 0;
      &.active {
        overflow: hidden;
        max-height: 1000px;
        padding-top: 10px;
      }
      &-form {
        padding-top: 0;
      }
      &-checkbox {
        .checkbox {
          justify-content: flex-start;
          padding-bottom: 10px;
        }
      }
      &-more {
        color: #5181b8;
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
      }
    }
  }
  .price {
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      input {
        width: 49%;
        height: 30px;
      }
    }
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: 50%;
        &:first-child {
          transform: rotate(180deg);
        }
      }
      input[type="range"] {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
      }
      input[type="range"]:focus {
        outline: none;
      }
      input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        background: rgba(141, 142, 144, 0.6);
      }
      input[type="range"]::-webkit-slider-thumb {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #5181b8;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -10px;
      }
    }
  }
  .strength {
    &-top {
      background: rgba(141, 142, 144, 0.6);
      width: 100%;
      height: 1px;
      margin: 10px 0 20px;
      display: flex;
      justify-content: space-between;
      span {
        border: 1px solid #5181b8;
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 50%;
        margin-top: -10px;
      }
      .span-active {
        background: #5181b8;
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      line-height: 13px;
      p {
        &:nth-child(2) {
          margin-left: 0.5rem;
        }
      }
    }
  }
  &-btn {
    margin: 0 auto;
    display: block;
    max-width: 260px;
    width: 100%;
    padding: 7px 10px 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
  }
}
.create-tasks__checkbox {
  opacity: 0;
  position: absolute;
  &:checked ~ .create-tasks__checkmark {
    background: #5181b8;
    &::before {
      left: 16px;
    }
  }
}
.create-tasks__checkmark {
  width: 32px;
  height: 17px;
  background: rgba(141, 142, 144, 0.6);
  border-radius: 8.5px;
  transition: 0.3s;
  position: relative;
  display: block;
  cursor: pointer;
  &::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 2px;
    display: block;
    background: #fff;
    transition: 0.3s;
  }
}
.notification {
  &-title {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 10px;
  }
  &-item {
    padding: 10px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
  }
  &-heading {
    margin-bottom: 5px;
  }
  &-text {
    margin-bottom: 20px;
  }
  &-subtitle {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
  }
  &-settings {
    margin-bottom: 10px;
  }
  .menu {
    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 5px;
      margin-bottom: 2px;
    }
    &-title {
      margin-bottom: 5px;
    }
    &-subtitle {
      font-size: 14px;
      line-height: 1;
    }
    &-array {
      display: block;
      transform: rotate(90deg);
    }
  }
}
.report {
  &-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 20px;
  }
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  &-card {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  &-img {
    height: 67px;
    width: auto;
    display: block;
    margin-right: 12px;
  }
  &-name {
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    margin-bottom: 5px;
  }
  &-blog {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    &__name {
      width: 60px;
      margin-right: 10px;
      font-weight: bold;
      font-size: 12px;
      line-height: 11px;
    }
    &__count {
      font-weight: bold;
      font-size: 12px;
      line-height: 11px;
    }
  }
  &-price {
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
  }
}
.graph {
  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  &-filter {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
    input {
      width: 32%;
      height: 30px;
      font-size: 13px;
    }
    button {
      height: 30px;
      width: 32%;
      font-size: 13px;
    }
  }
  &-info {
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(2, 49%);
  }
  &-card {
    padding: 13px 10px;
    border-radius: 5px;
    &__title {
      font-weight: normal;
      font-size: 16px;
      line-height: 15px;
      margin-bottom: 5px;
    }
    &__text {
      font-weight: normal;
      font-size: 12px;
      line-height: 11px;
    }
    &__link {
      color: #5181b8;
    }
  }
}
// Admin
.admin-menu {
  &-admin {
    padding: 10px;
  }
  &-list {
    display: flex;
    align-items: center;
    li {
      width: calc(100% / 5);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &-link {
    text-align: center;
    display: inline-block;
    &.router-link-active,
    &.router-link-exact-active {
      svg path {
        fill: #000;
      }
      .menu-svg-2 path {
        stroke: #000;
        fill: none !important;
      }
      p {
        color: #000;
      }
    }
    svg {
      margin: 0 auto 5px;
    }
    p {
      font-size: 10px;
      line-height: 10px;
      color: #555556;
    }
  }
}

.admin-report {
  .report {
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      width: calc(100% - 20px);
      z-index: 10;
      border-bottom: 1px solid rgba(141, 142, 144, 0.8);
      &__profile {
        display: flex;
        align-items: center;
      }
      &__img {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
        margin-right: 5px;
      }
      &__name {
        font-weight: normal;
        font-size: 12px;
        line-height: 11px;
        margin-bottom: 5px;
      }
      &__pos {
        font-weight: normal;
        font-size: 12px;
        line-height: 11px;
      }
    }
  }
  .graph-filter {
    margin-bottom: 10px;
  }
  .title {
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    margin: 10px 0;
  }
  .graph-report {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    &__link {
      &:not(:last-child) {
        margin-right: 8px;
      }
      display: inline-block;
      width: calc(100% / 3);
      padding: 5px 10px;
      border-radius: 5px;
    }
    &__top {
      font-weight: normal;
      font-size: 12px;
      line-height: 11px;
      margin-bottom: 5px;
    }
    &__sum {
      font-weight: normal;
      font-size: 16px;
      line-height: 15px;
      margin-bottom: 5px;
    }
    &__date {
      font-weight: 300;
      font-size: 13px;
      line-height: 12px;
    }
  }
}

.admin-catalog {
  .catalog {
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      left: 0;
      top: 0;
      padding: 20px 10px;
      border-bottom: 1px solid rgba(141, 142, 144, 0.8);
      z-index: 55;
      &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 17px;
      }
    }
    &-filter {
      display: flex;
      align-items: center;
      &__btn {
        width: 25px;
        height: 25px;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child) {
          margin-right: 10px;
        }
        .first-svg {
          transform: scale(0.7);
        }
        svg path {
          fill: #000;
        }
      }
    }
  }
  .card {
    &-item {
      padding: 10px 0;
      display: flex;
      align-items: flex-start;
      position: relative;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(141, 142, 144, 0.8);
      }
      &__content {
        width: -webkit-fill-available;
      }
      &__img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
      &__title {
        font-weight: normal;
        font-size: 12px;
        line-height: 11px;
        margin-bottom: 5px;
      }
      &__article {
        font-weight: normal;
        font-size: 11px;
        line-height: 11px;
        margin-bottom: 5px;
      }
      &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__price {
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
      }
      &__left {
        font-weight: normal;
        font-size: 11px;
        line-height: 11px;
      }
    }
    &-burger {
      position: absolute;
      top: 10px;
      right: 5px;
      span {
        width: 3px;
        height: 3px;
        display: block;
        background: #000;
        border-radius: 50%;
        &:not(:last-child) {
          margin-bottom: 3px;
        }
      }
    }
  }
}

.create {
  &:not(:last-child) {
    border-bottom: 0.5px solid rgba(141, 142, 144, 0.6);
  }
  padding-top: 10px;
  &-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-left: 10px;
  }
  &-wrapper {
    display: grid;
    padding: 20px 0;
    grid-template-columns: repeat(3, 33%);
    row-gap: 10px;
  }
  &-item {
    text-align: center;
    p {
      font-weight: normal;
      font-size: 12px;
      line-height: 11px;
    }
  }
  &-link {
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 3px;

    .lupa {
      fill: #ff7a00 !important;
    }
    .user-back {
      fill: #8000ff !important;
    }
    .back-purchase {
      fill: #2400ff !important;
    }
    .plus {
      stroke: #21b140 !important;
    }
    .remove {
      stroke: #ef2525 !important;
    }
  }
}
.svg {
  path {
    fill: #000;
  }
  circle {
    stroke: #000;
  }
}
.svg-stroke {
  path {
    stroke: #000;
  }
}
.logs {
  &-title {
    display: flex;
    align-items: center;
    svg {
      transform: rotate(180deg);
      margin-left: 10px;
    }
  }
  &-search {
    margin-bottom: 20px;
    input {
      font-weight: normal;
      font-size: 12px;
      line-height: 11px;
    }
  }
  &-item {
    margin-bottom: 10px;
    &__title {
      text-align: center;
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
      margin-bottom: 10px;
    }
  }
  &-card {
    position: relative;
    padding: 10px 10px 10px 12px;
    border-left: 2px solid transparent;
    &.green {
      border-color: #21b140;
    }
    &.red {
      border-color: #ef2525;
    }
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    .top {
      margin-bottom: 9px;
      .logs-card__title {
        span {
          font-weight: normal;
          font-size: 11px;
          line-height: 11px;
          color: #000;
          padding: 2px 12px 1px;
          border-radius: 5px;
          margin-left: 10px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0 !important;
      font-weight: normal;
      font-size: 14px !important;
      line-height: 13px !important;
      p {
        color: #ef2525;
      }
    }
    &__price,
    &__title {
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
    }
    &__text {
      font-weight: normal;
      font-size: 10px;
      line-height: 10px;
      margin-bottom: 5px;
    }
    &__link {
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
      color: #0088cc;
    }
  }
  &-burger {
    position: absolute;
    top: 15px;
    right: 0;
    span {
      background: #c4c4c4;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      display: block;
      &:nth-child(2) {
        margin: 3px 0;
      }
    }
  }
  &-modal {
    .sort {
      padding-top: 0 !important;
    }
  }
  &-menu {
    padding: 0 10px;
    &__link {
      display: block;
      font-weight: normal;
      font-size: 18px;
      line-height: 17px;
      padding: 17px 0;
      text-align: center;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(141, 142, 144, 0.8);
      }
      &.red {
        color: #ef2525;
      }
    }
  }
  &-top {
    &__wrapper {
      position: fixed;
      width: 100%;
      z-index: 54;
      top: -100%;
      left: 0;
      box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.25);
      border-radius: 0px 0px 30px 30px;
      padding: 0 10px 5px;
      transition: 0.3s;
      &.menu-active {
        top: 70px;
      }
    }
    &__link {
      display: flex;
      align-items: center;
      padding: 10px 0;
      &:not(:last-child) {
        border-bottom: 0.5px solid rgba(141, 142, 144, 0.6);
      }
      svg {
        display: block;
        margin-right: 10px;
      }
      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
      }
    }
  }
}
.admin-exit {
  display: flex;
  align-items: center;
  svg {
    margin-right: 5px;
  }
  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
  }
}
.orange {
  background: #ff7a00;
}
.blue {
  background: #0088cc;
}
.log-green {
  background: #21b140;
}
.log-red {
  background: #ef2525;
}
.profile {
  &-content {
    padding-top: 4.5rem;
  }
  &-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    margin-bottom: 10px;
  }
  &-wrapper {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(141, 142, 144, 0.6);
      padding-bottom: 20px;
    }
    &:not(:first-child) {
      padding-top: 10px;
    }
  }
  &-list {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 30px;
    padding: 5px;
    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000;
      background: rgba(141, 142, 144, 0.6);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
    }
    svg {
      transform: rotate(180deg);
    }
  }
}

.dark {
  .admin-menu-link {
    &.router-link-active,
    &.router-link-exact-active {
      svg path {
        fill: #fff;
      }
      p {
        color: #fff;
      }
      .menu-svg-2 path {
        stroke: #fff;
        fill: none !important;
      }
    }
  }
  .catalog-filter__btn svg path {
    fill: #fff;
  }
  .card-burger span {
    background: #c4c4c4;
  }
  .svg {
    path {
      fill: #fff;
    }
    circle {
      stroke: #fff;
    }
  }
  .svg-stroke {
    path {
      stroke: #fff;
    }
  }
  .logs-burger span {
    background: #c4c4c4;
  }
}
.subtitle {
  padding-left: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  margin-bottom: 18px;
}
.check {
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.report-modal {
  display: grid;
  padding: 0 20px;
  grid-template-columns: repeat(2, 50%);
  row-gap: 18px;
  margin-bottom: 40px;
  &__title {
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    margin-bottom: 10px;
  }
  &__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
  }
  .green {
    color: #21b140;
  }
  .red {
    color: #ef2525;
  }
  &__btn {
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    padding: 8px 10px;
    max-width: 260px;
    width: 100%;
    display: block;
    margin: 0 auto 40px;
  }
}

.logs-filter {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 50;
    .subtext {
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
      color: #5181b8;
      svg {
        margin-right: 10px;
      }
    }
  }
  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
  }
  &__pertitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  &__inner {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgba(141, 142, 144, 0.6);
    margin-bottom: 20px;
    input {
      width: 49%;
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
      color: rgba(141, 142, 144, 0.6);
      text-align: left;
      border-color: rgba(141, 142, 144, 0.6);
    }
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }
  &__ul {
    border-bottom: 0.5px solid rgba(141, 142, 144, 0.6);
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 10px 8px;
    margin-bottom: 10px;
    svg {
      transform: rotate(180deg);
    }
  }
  &__shorts {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(141, 142, 144, 0.6);
    margin-bottom: 20px;
  }
  &__content {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
      color: rgba(141, 142, 144, 0.6);
      margin-right: 10px;
    }
  }
}

.logs {
  &-modal {
    &__title {
      text-align: center;
      position: relative;
      font-weight: 400 !important;
      padding-bottom: 0;
      span {
        position: absolute;
        top: 3px;
        right: 20px;
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
        display: flex;
        align-items: center;
        color: #ef2525;
      }
    }
    &__inner {
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
      span {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
    &__link {
      margin: 0 10px;
    }
  }
  &-sort {
    height: 285px;
  }
}
.b-green {
  background: #21b140;
}
.b-blue {
  background: #18c0e6;
}
.b-red {
  background: #ef2525;
}
.b-orange {
  background: #ff7a00;
}
.b-dblue {
  background: #000aff;
}
.b-purple {
  background: #ac30e7;
}
.b-pink {
  background: #ff0099;
}
.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
}
.sales {
  &-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    button {
      font-weight: 300;
      font-size: 12px;
      line-height: 11px;
      padding: 4px 10px 3px;
      width: 33%;
    }
    &__active {
      background: #5181b8 !important;
      border-color: #5181b8 !important;
      color: #fff !important;
    }
  }
  &-content {
    &__title {
      font-weight: normal;
      font-size: 16px;
      line-height: 15px;
      color: #5181b8;
      margin-bottom: 20px;
    }
    &__document {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
      }
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__box {
      width: 49%;
      height: 40px;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      justify-content: space-between;
      h3 {
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
        color: rgba(141, 142, 144, 0.6);
      }
      p {
        font-weight: normal;
        font-size: 10px;
        line-height: 10px;
        color: rgba(141, 142, 144, 0.6);
      }
      svg {
        transform: rotate(180deg);
        display: block;
      }
    }
    &__btn {
      width: 100%;
      font-weight: normal;
      font-size: 16px;
      line-height: 15px;
      padding: 7px 10px 8px;
    }
    &__btns {
      display: flex;
      justify-content: space-between;
      button {
        width: 49%;
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    &__text {
      font-weight: normal;
      font-size: 16px;
      line-height: 15px;
      padding: 20px 0 10px;
    }
  }
  &-list {
    &__items {
      position: relative;
      padding: 10px 0;
    }
    &__title {
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
      margin-bottom: 10px;
    }
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__price {
      font-weight: normal;
      font-size: 12px;
      line-height: 11px;
      color: rgba(141, 142, 144, 0.6);
    }
  }
  &-history {
    padding-bottom: 20px;
    &__title {
      font-weight: normal;
      font-size: 16px;
      line-height: 15px;
      margin-bottom: 5px;
    }
    &__subtitle {
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
      margin-bottom: 10px;
    }
    &__list {
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__left {
      width: 30%;
      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
        color: rgba(141, 142, 144, 0.6);
      }
      span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
        margin-top: 5px;
      }
    }
    &__content {
      width: 70%;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      .text-orange {
        color: #e87002;
      }
      &__list {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
  &-payment {
    padding-bottom: 10px;
    margin-bottom: 40px;
    &__search {
      height: 30px;
      font-weight: 300;
      font-size: 14px;
      line-height: 13px;
      padding: 9px 10px 8px;
      margin-bottom: 20px;
    }
    &__select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    &__check {
      width: 49%;
      text-align: center;
      padding: 17px 10px 18px;
      margin-bottom: 6px;
      svg {
        display: block;
        margin: 0 auto 10px;
      }
      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
      }
    }
    &__payed {
      display: flex;
      align-items: center;
      svg {
        margin-right: 3px;
      }
      p {
        font-weight: normal;
        font-size: 12px;
        line-height: 11px;
        color: #21b140;
      }
    }
    &__btn {
      max-width: 260px;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      display: block;
      font-weight: normal;
      font-size: 16px;
      line-height: 15px;
      color: #ffffff;
      padding: 7px 10px 8px;
      background: #5181b8;
    }
  }
}
.menu {
  &-filter {
    padding: 0 10px;
    &__title {
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
      text-align: center;
      margin-bottom: 20px;
    }
    &__add {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      button {
        font-weight: normal;
        font-size: 12px;
        line-height: 11px;
        padding: 5px 10px 4px;
      }
    }
    &__btn {
      width: 83px;
      margin-right: 5px;
      display: block;
    }
    &__wrap {
      align-items: center;
    }
    &__som {
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
      margin: 0 10px;
      vertical-align: middle;
    }
    &__sub {
      font-weight: 300;
      font-size: 14px;
      line-height: 13px;
      margin-bottom: 6px;
    }
    &__select {
      margin-bottom: 30px;
      padding: 9px 10px 8px;
      font-weight: 300;
      font-size: 14px;
      line-height: 13px;
    }
    &__submit {
      max-width: 260px;
      width: 100%;
      display: block;
      margin: 0 auto 35px;
      padding: 9px 10px 8px;
      background: #5181b8;
      border-radius: 5px;
      font-weight: normal;
      font-size: 16px;
      line-height: 15px;
      color: #fff;
    }
  }
}
.purchase-payment__form {
  width: 80%;
}
.matreial-table {
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  thead tr th {
    padding: 5px 10px;
    text-align: left;
  }
  tbody tr td {
    padding: 5px 10px;
  }
}
.payment {
  width: 100%;
  h3,
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
  }
  span {
    width: 63%;
  }
}
.tech-operation {
  .menu-list {
    font-weight: 400;

    color: rgba(141, 142, 144, 0.6) !important;
    padding: 10px !important;
  }
  .checkbox-container {
    margin-right: 0 !important;
    border-radius: 50% !important;
  }
  .menu-title {
    span {
      font-size: 14px !important;
      line-height: 13px !important;
    }
    img {
      transform: rotate(90deg);
    }
  }
  .checkbox {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .checkbox-content {
    font-size: 14px !important;
    line-height: 13px !important;
  }
  &__ready {
    h2 {
      font-weight: 400;
      font-size: 16px;
      line-height: 15px;
      margin-bottom: 10px;
    }
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 15px;
      span {
        border: 1px solid rgba(141, 142, 144, 0.6);
        box-sizing: border-box;
        border-radius: 3px;
        padding: 0 15px;
        margin: 0 5px;
      }
    }
  }
}

.clients-card {
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
  }
  &__info {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
